@{
    ViewData["Title"] = Routers.SearchOrders.Title;
    List<Order> orders = (List<Order>)ViewData["orders"];

}


<div class="p-2 ">
    <form action="@Routers.SearchOrders.Link" method="get">
        <label for="startDate">Start Date:</label>
        <input type="date" id="date" name="startDate" required>
        <label for="endDate">End Date:</label>
        <input type="date" id="date" name="endDate" required>
        <br>
        <input type="text" placeholder="Search.." name="search" id="search" required>
        <input type="submit">
    </form>
    @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
    <table class="my-2 bg-white border border-black fade-in">
        <thead>
            <tr>
                <th class="p-2 border border-black">CustomerId</th>
                <th class="p-2 border border-black">Date</th>
                <th class="p-2 border border-black">Payment method</th>
                <th class="p-2 border border-black">Total</th>
                <th class="p-2 border border-black">Profit</th>
                <th class="p-2 border border-black">Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                var detailLink = $"{@Routers.OrderDetail.Link}?orderId={@order.OrderId}";

                @* var detailLink = $"{@Routers.OrderDetail.Link}?orderId={@order.OrderId}";
                    var activeColor = order.Status == OrderStatus.ACTIVE ? "text-green-500" : "text-red-500"; *@
                <tr>
                    <td class="p-2 text-center border border-black max-h-16">@order.CustomerId</td>
                    <td class="p-2 text-center border border-black">@order.CreateDate</td>
                    <td class="p-2 text-center border border-black">@order.PaymentMethod</td>
                    <td class="p-2 text-center border border-black">@order.Total</td>
                    <td class="p-2 text-center border border-black">@order.Profit</td>
                    <td class="p-2 text-center border border-black">
                        <a href="@detailLink"
                        class="inline-block p-2 font-medium text-white duration-300 bg-blue-600 rounded-sm hover:bg-blue-800">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
