@{
    var errorField = $"{Model.field}Error";
}


<div class="space-y-1">
    <label className="font-medium" htmlFor="@Model.field">
        @Model.label
    </label>
    <input name="@Model.field" class="block w-full px-2 py-1 border rounded-sm focus:outline-none" />
    @if (ViewData[@errorField] != null)
    {
        <p className="text-red-500">@Model.label @ViewData[@errorField]</p>
    }
</div>