@{
    ViewData["Title"] = Routers.Home.Title;
    List<Product> products = (List<Product>)ViewData["products"];
    List<Product> carts = (List<Product>)ViewData["cartItems"];
    Double total = 0;

    var min = new FormField() { Label = "Min", Field = "min", Type = "number", Value = 0 };
    var max = new FormField() { Label = "Max", Field = "max", Type = "number", Value = 99999 };
    var name = new FormField() { Label = "Name", Field = "name", Type = "text", Value = "" };
    var categoryId = new FormField() { Label = "CategoryId", Field = "categoryId", Type = "text", Value = "" };

    var createBtn = new FormField() { Label = "Search" };

}



<div class="flex flex-col justify-center flex-1 px-2 py-8 mb-24 space-y-4 md:flex-row md:space-x-4 md:space-y-0">
    <div class="space-y-2">
        <form method="get" action="@Routers.Home.Link">

            @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
            <div class="space-y-4">
                @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
                @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", min)
                @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", max)
                @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)
                @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", categoryId)
            </div>
            @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", createBtn)
        </form>


        <h1 class="text-xl font-semibold ">Product List</h1>
        <div class="grid gap-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 fade-in">
            @foreach (var product in products)
            {
                @if (product.Status == ProductStatus.ACTIVE && product.Category.Status == CategoryStatus.ACTIVE)
                {
                    var updateLink = $"{@Routers.UpdateProduct.Link}?productId={@product.ProductId}";
                    var activeColor = product.Status == ProductStatus.ACTIVE ? "text-green-500" : "text-red-500";
                    <div class="flex items-center justify-between p-2 space-x-2 bg-white rounded-lg shadow-lg">
                        <div class="w-16 h-16 overflow-hidden border-2 rounded-full ">
                            <img src="@product.ImageUrl" alt="@product.Name" class="block object-cover w-full h-full" />
                        </div>
                        <div class="w-1/2 text-left">
                            <p class="font-semibold first-letter">@product.Name</p>
                            <p class="max-lines">@product.Description</p>
                            <p class="font-medium text-yellow-600">$@product.RetailPrice</p>
                        </div>
                        <div>
                            <a href="/cart/add?productId=@product.ProductId&quantity=1"
                        class="inline-block px-2 py-1 text-white bg-blue-600 rounded-md">Add to Cart</a>

                        </div>
                    </div>
                }


            }
        </div>
    </div>

    <div class="space-y-2">
        <h1 class="text-xl font-semibold">My Cart</h1>
        <div class="space-y-2 md:w-101" id="mycart">
            @if (carts == null)
            {
                <div class="flex items-center justify-between p-2 space-x-2 bg-white rounded-md shadow-lg fade-in">
                    <p class="font-semibold">Empty cart</p>
                </div>
            }
            else
            {
                @foreach (var cartItem in carts)
                {
                    total += cartItem.Quantity * cartItem.RetailPrice;
                    <div class="flex items-center justify-between p-2 space-x-2 bg-white rounded-lg shadow-lg fade-in">
                        <div class="w-16 h-16 overflow-hidden border-2 rounded-full "><img src="@cartItem.ImageUrl" alt="mi"
                        class="block object-cover"></div>
                        <div class="flex-1 space-y-1">
                            <p class="font-semibold first-letter">@cartItem.Name</p>
                            <div class="flex space-x-2">
                                <a href="/cart/add?productId=@cartItem.ProductId&quantity=-1"
                            class="flex items-center justify-center w-6 h-6 font-semibold bg-blue-100">-</a>
                                <p>@cartItem.Quantity</p>
                                <a href="/cart/add?productId=@cartItem.ProductId&quantity=1"
                            class="flex items-center justify-center w-6 h-6 font-semibold bg-blue-100">+</a>
                            </div>
                        </div>
                        <div>

                            <p class="flex-1 font-medium text-right text-yellow-600">$@(cartItem.Quantity *
                        cartItem.RetailPrice)</p>
                        </div>
                    </div>

                }
            }
            <div
                class="fixed z-50 w-full px-2 py-4 space-y-2 font-semibold transform -translate-x-1/2 bg-white border rounded-lg shadow-2xl bottom-4 md:w-101 left-1/2">
                <div class="flex items-center justify-between">
                    <p>Total</p>
                    <p class="text-blue-600">$@total</p>
                </div><a class="block w-full px-2 py-2 text-center text-white bg-blue-600 rounded-md"
                    href="#mycart">View
                    My Cart</a>
            </div>

        </div>
    </div>

</div>
