@{
    ViewData["Title"] = Routers.Category.Title;
    List<Category> categories = (List<Category>)ViewData["categories"];
}

<div class="p-2 ">

    <div>
        <a href="@Routers.CreateCategory.Link"
            class="inline-block p-2 font-medium text-white duration-300 bg-blue-600 rounded-sm hover:bg-blue-800">Create
            New Catagory</a>
    </div>
    @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
    <table class="my-2 bg-white border border-black fade-in">
        <thead>
            <tr>
                <th class="p-2 border border-black">Name</th>
                <th class="p-2 border border-black">Description</th>
                <th class="p-2 border border-black">Status</th>
                <th class="p-2 border border-black">Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                var updateLink = $"{@Routers.UpdateCategory.Link}?categoryId={@category.CategoryId}";
                var deleteLink = $"{@Routers.DeleteCategory.Link}?categoryId={@category.CategoryId}";
                var activeColor = category.Status == CategoryStatus.ACTIVE ? "text-green-500" : "text-red-500";
                <tr>
                    <td class="p-2 text-center border border-black max-h-16">@category.Name</td>
                    <td class="p-2 text-center border border-black">@category.Description</td>
                    <td class="p-2 text-center lowercase border border-black first-letter @activeColor">@category.Status
                    </td>
                    <td class="p-2 text-center border border-black">
                        <a href="@updateLink"
                        class="inline-block p-2 font-medium text-white duration-300 bg-blue-600 rounded-sm hover:bg-blue-800">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
