@{
    this.ViewData["Title"] = Routers.Product.Title;
    var products = (List<Product>)this.ViewData["products"];
    var categories = (SelectList)this.ViewData["categories"];
    var total = (int)this.ViewData["total"];
    var min = (string) this.Context.Request.Query["min"];
    var max = (string) this.Context.Request.Query["max"];
    var name =(string)  this.Context.Request.Query["name"];
    var categoryId = (string)  this.Context.Request.Query["categoryId"];
}

<div class="flex-1 min-h-screen px-2 py-2 xl:px-8 xl:py-6">
    <div class="flex">

        @await Html.PartialAsync("../../Components/Navbar/NavbarSide.cshtml")

        <div class="content">
            <div class="p-5 mt-5 intro-y box">
                <div class="flex flex-col sm:flex-row sm:items-end xl:items-start">
                    <form id="formFilter">
                        <div class="flex items-end space-x-2">
                            <div class="space-y-2">
                                <label>Name</label>
                                @await Html.PartialAsync("../../Components/Form/TextField.cshtml", new {Label="Name",
                                Field="name",Type="text", Value=name})
                            </div>
                            <div class="space-y-2">
                                <label>Min Price</label>
                                @await Html.PartialAsync("../../Components/Form/TextFieldNumber.cshtml", new {Label="Min price",
                                Field="min",Step="0.01", Value=min})
                            </div>
                            <div class="space-y-2">
                                <label>Max Price</label>
                                @await Html.PartialAsync("../../Components/Form/TextFieldNumber.cshtml", new {Label="Max price",
                                Field="max",Step="0.01", Value=max})
                            </div>
                            <div class="space-y-2"> 
                                <label>Category</label>
                                @await Html.PartialAsync("../../Components/Form/SelectList.cshtml", new {Label="Max price",
                                Values=categories, Value=categoryId, Field="categoryId"})
                            </div>
                            <div class="flex items-end">
                                <button class="mb-2 btn btn-primary"> 
                                    <i data-feather="search" class="w-5 h-5"></i> 
                                </button>
                                    
                            </div>
                             @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
                             new { Name = "pageSize", Value = (string) this.Context.Request.Query["pageSize"] ?? "12" })
                             @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
                            new { Name = "pageIndex",Value = (string) this.Context.Request.Query["pageIndex"] ?? "0" })
                        </div>
                    
                    </form>
                </div>

            </div>
            <div class="overflow-x-auto intro-y box">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Name</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Image</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Category</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Description</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Status</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Original Price</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Retail Price</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Create Date</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Quantity</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>
                        </tr>
                    </thead>
                    <tbody>


                        @for (int i = 0; i < products.Count; i++)
                        {   
                            var item = products[i];
                             var link = $"{Routers.UpdateProduct.Link}?productId={item.ProductId}";
                            <tr class="hover:bg-gray-200">
                                <td class="border">@i</td>
                                <td class="border">@item.Name</td>
                                <td class="border">
                                    <img src="@item.ImageUrl" alt="@item.Name" class="object-cover w-16 h-16" />
                                </td>
                                <td class="border">@item.Category.Name</td>
                                <td class="border">@item.Description</td>
                                <td class="border">
                                    @await Html.PartialAsync("../../Components/Table/Status.cshtml", item.Status
                                                == ProductStatus.ACTIVE )

                                </td>
                                <td class="border">$@item.OriginalPrice</td>
                                <td class="border">$@item.RetailPrice</td>
                                <td class="border">@item.CreateDate</td>
                                <td class="border">@item.Quantity</td>
                                <td class="border">
                                       <a href="@link" class=" btn btn-primary"> <i data-feather="edit"
                                        class="w-5 h-5"></i> </a>

                                </td>

                            </tr>
                        }
                     </tbody>
                </table>
                @await Html.PartialAsync("../../Components/Common/Pagination.cshtml",
                new { PageIndex = (string) this.Context.Request.Query["pageIndex"] ?? "0", PageSize =
                (string) this.Context.Request.Query["pageSize"]?? "12", Total = total })
            </div>
        </div>
    </div>

</div>
@section Scripts {

<script src="/js/pagination.js"></script>

}