@{
    this.ViewData["Title"] = Routers.Product.Title;
    var products = (List<Product>)this.ViewData["products"];

}

<div class="flex-1 min-h-screen px-8 py-6 ">
    <div class="flex">

        @await Html.PartialAsync("../../Components/Navbar/NavbarSide.cshtml")

        <div class="content">
            <div class="p-5 mt-5 intro-y box">
                <div class="flex flex-col sm:flex-row sm:items-end xl:items-start">
                    <form id="tabulator-html-filter-form" class="xl:flex sm:mr-auto">
                        <div class="items-center sm:flex sm:mr-4">
                            <label class="flex-none w-12 mr-2 xl:w-auto xl:flex-initial">Field</label>
                            <select id="tabulator-html-filter-field"
                                class="w-full mt-2 form-select sm:w-32 xxl:w-full sm:mt-0 sm:w-auto">
                                <option value="name">Name</option>
                                <option value="category">Category</option>
                                <option value="remaining_stock">Remaining Stock</option>
                            </select>
                        </div>
                        <div class="items-center mt-2 sm:flex sm:mr-4 xl:mt-0">
                            <label class="flex-none w-12 mr-2 xl:w-auto xl:flex-initial">Type</label>
                            <select id="tabulator-html-filter-type" class="w-full mt-2 form-select sm:mt-0 sm:w-auto">

                            </select>
                        </div>
                    </form>
                </div>

            </div>
            <div class="overflow-x-auto intro-y box">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Product ID</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Name</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Image</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Category</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Description</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Status</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Original Price</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Retail Price</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Create Date</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Quantity</th>
                            <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in products)
                        {


                            var link = $"{Routers.UpdateProduct.Link}?productId={item.ProductId}";
                            <tr class="hover:bg-gray-200">
                                <td class="border">@item.ProductId</td>
                                <td class="border">@item.Name</td>
                                <td class="border">
                                    <img src="https://picsum.photos/200" alt="@item.Name" class="object-cover w-16 h-16" />
                                </td>
                                <td class="border">@item.Category.Name</td>
                                <td class="border">@item.Description</td>
                                <td class="border">@item.Name</td>
                                <td class="border">@item.OriginalPrice</td>
                                <td class="border">@item.RetailPrice</td>
                                <td class="border">@item.CreateDate</td>
                                <td class="border">@item.Quantity</td>
                                <td class="border">
                                    <a href="@link" class="mb-2 mr-1 btn btn-primary"> <i data-feather="edit"
                                        class="w-5 h-5"></i> </a>

                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
