@model Backend.Models.Category
@{
    ViewData["Title"] = Routers.Product.Title;
    List<Product> products = (List<Product>)ViewData["products"];


    var min = new FormField() { Label = "Min", Field = "min", Type = "number", Value = 0 };
    var max = new FormField() { Label = "Max", Field = "max", Type = "number", Value = 99999 };
    var name = new FormField() { Label = "Name", Field = "name", Type = "text", Value = "" };
    var categoryId = new FormField() { Label = "CategoryId", Field = "categoryId", Type = "text", Value = "" };

    var createBtn = new FormField() { Label = "Search" };

}

<div class="p-2 ">
    <form method="get" action="@Routers.Product.Link">
        <div class="space-y-4">
            @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
            <div class="flex space-x-4 justify-items-stretch">
                @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", min)
                @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", max)
            </div>
            <div class="flex space-x-4 justify-items-stretch">
                @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)
                @await Html.PartialAsync("~/Views/Components/Form/FormCategories.cshtml")
            </div>
            <div class="flex space-x-4">
                <div class="w-32">
                    @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", createBtn)
                </div>
                <a href="@Routers.CreateProduct.Link"
                    class="inline-block p-2 font-medium text-white duration-300 bg-blue-600 rounded-sm hover:bg-blue-800">Create
                    New Product</a>
            </div>
        </div>
    </form>
    <table class="my-2 bg-white border border-black fade-in">
        <thead>
            <tr>
                <th class="p-2 border border-black">ProductId</th>
                <th class="p-2 border border-black">Name</th>
                <th class="p-2 border border-black">Image</th>
                <th class="p-2 border border-black">Category</th>
                <th class="p-2 border border-black">Description</th>
                <th class="p-2 border border-black">Status</th>
                <th class="p-2 border border-black">OriginalPrice</th>
                <th class="p-2 border border-black">RetailPrice</th>
                <th class="p-2 border border-black">CreateDate</th>
                <th class="p-2 border border-black">Quantity</th>
                <th class="p-2 border border-black">Update</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {

                var updateLink = $"{@Routers.UpdateProduct.Link}?productId={@product.ProductId}";
                var activeColor = product.Status == ProductStatus.ACTIVE ? "text-green-500" : "text-red-500";
                <tr>
                    <td class="p-2 text-center border border-black max-h-16">@product.ProductId</td>
                    <td class="p-2 text-center border border-black max-h-16">@product.Name</td>
                    <td class="p-2 text-center border border-black max-h-16">
                        <div class="h-16">
                            <img src="@product.ImageUrl" alt="@product.Name" class="object-cover w-full h-full" />
                        </div>
                    </td>
                    <td class="p-2 text-center border border-black">@product.Category.Name</td>
                    <td class="p-2 text-center lowercase border border-black first-letter ">@product.Description</td>
                    <td class="p-2 text-center lowercase border border-black first-letter @activeColor ">@product.Status
                    </td>
                    <td class="p-2 text-center lowercase border border-black first-letter ">@product.OriginalPrice</td>
                    <td class="p-2 text-center lowercase border border-black first-letter ">@product.RetailPrice</td>
                    <td class="p-2 text-center lowercase border border-black first-letter ">@product.CreateDate</td>
                    <td class="p-2 text-center lowercase border border-black first-letter ">@product.Quantity</td>
                    <td class="p-2 text-center border border-black">
                        <a href="@updateLink"
                        class="inline-block p-2 font-medium text-white duration-300 bg-blue-600 rounded-sm hover:bg-blue-800">Update</a>
                    </td>

                </tr>

            }
        </tbody>
    </table>

</div>
